@model PhotoSharingApplication.Models.Photo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (Model.PhotoFile != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.PhotoFile)
        </dt>
        <dd>
            <img class="col-md-12 img-thumbnail" src="@Url.Action("GetImage", "Photos", new { id=Model.Id })" />
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageMimeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
